@import url(../CSS/clash-display.css);

/* colors */
:root {
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-white: #ffff;
    --font-base: "ClashDisplay", sans-serif;

}

body {
    
    text-align: center;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}


/* img*/
.card-img-top {
    width: 100%;
    height: auto;
}

.vs-img {
    width: 100%;
    height: auto;
}

/* player */
.player {
    margin: 0 10%;
}

/* card */
.card-body {
    width: 18rem; height: 20rem;color:  rgb(198, 193, 193);
}

.card {
    align-items: center;
    width: 90%;
    max-width: 400px;
   padding-top: 1rem;
   padding-bottom: 5rem;

    border-radius: 1.5rem;
    border: 1px solid transparent;

    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
}

.cb1 {
    background-color: rgba(224, 222, 222, 0.1);
}

.title {
    margin-top: 5%;
}

/* btn */

button {
    width: 20%;
    padding: 1rem;
    font-size: 10px;
}

/* media query */

@media (max-width: 1025px) {

    .card-body {
        width: 18rem; height: 22rem;color:  rgb(198, 193, 193);
    }

    .card {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .outcome {
        width: 22rem;
    }

    button {
        width: 30%;
        padding: 1rem;
        font-size: 10px;
    }

    .title {
        margin-top: 3%;
    }
   
}

@media (max-width: 769px) {

    .card-body {
        width: 12rem; height: 20rem;color:  rgb(198, 193, 193);
    }

    .card {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .outcome {
        width: 15rem;
    }

    button {
        width: 30%;
        padding: 1rem;
        font-size: 10px;
    }

    .title {
        margin-top: 7%;
    }
}

@media (max-width: 427px) {

    .card-body {
        width: 12rem;
        height: 17rem;
        color:  rgb(198, 193, 193);
    }

    .card {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .outcome {
        width: 5rem;
    }

    button {
        width: 30%;
        padding: 1rem;
        font-size: 10px;
    }

    .title {
        margin-top: 15%;
    }
}



@media (max-width: 376px) {

    .container{
        display: grid;
        grid-template-columns: fr;
        justify-items: center;
        gap: 1rem;
    }

    .outcome {
        width: 15rem;
    }

    .card-body {
        width: 16rem;
        height: auto;
    }

    button {
        width: 70%;
        padding: 1rem;
        font-size: 10px;
    }

    .title {
        margin: 0%;
    }

}

